*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main table {
  width: 90%;
  font-size: 1.2rem;
  border-collapse: collapse;
  margin: 1.2rem auto;
}
main table caption {
  font-size: 1.5rem;
  padding: 1.25rem;
}
main table thead tr {
  border-bottom: 1px solid #ddd;
}
main table thead tr th {
  padding: 0.75rem 0;
}
main table tbody tr th {
  font-weight: bolder;
}
main table tbody tr td {
  padding: 0.75rem 0;
  text-align: center;
}
main table tfoot tr th {
  font-size: 1.35rem;
}
main table tfoot tr td {
  border-top: 1px dashed #aaa;
  padding: 1.5rem 0;
}

main {
  background-color: gray;
}
main h1 {
  text-align: center;
  padding: 2rem 0;
}
main #form {
  margin: 0 auto;
  background-color: #b3b3b3;
  width: 75%;
  color: white;
  font-size: 1.75rem;
}
main #form .form-control {
  font-size: 80%;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(3, auto);
  align-items: center;
}
main #form .form-control label {
  grid-column: 1/2;
}
main #form .form-control input[type=text], main #form .form-control input[type=password], main #form .form-control input[type=email] {
  grid-column: 2/-1;
  background-color: #cdcdcd;
  outline: none;
  outline-style: none;
  padding: 0.5rem;
  font-size: 85%;
  color: white;
}
main #form .form-control input[type=text]::placeholder, main #form .form-control input[type=password]::placeholder, main #form .form-control input[type=email]::placeholder {
  color: white;
}
main #form .form-control input[type=text]:focus, main #form .form-control input[type=password]:focus, main #form .form-control input[type=email]:focus {
  color: white;
  caret-color: white;
}
main #form .form-control input[type=text]:invalid, main #form .form-control input[type=password]:invalid, main #form .form-control input[type=email]:invalid {
  border-color: red;
  color: red;
}
main #form .form-control input[type=text]:invalid ~ .error-message, main #form .form-control input[type=password]:invalid ~ .error-message, main #form .form-control input[type=email]:invalid ~ .error-message {
  display: block;
}
main #form .form-control .error-message {
  grid-column: 2/-1;
  display: none;
  font-size: 85%;
  color: red;
  margin-top: 0.5rem;
  font-style: italic;
  list-style-position: inside;
}
main #form .form-control .error-message li {
  margin: 0.75rem 0;
}
main #form #form-btn-group {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
main #form #form-btn-group .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 85%;
  text-decoration: none;
  padding: 0.9rem 1.2rem;
  margin: 0;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #5a5a5a;
  border-radius: 0;
}
main #form #form-btn-group-reset {
  grid-column: 1/3;
}
main #form #form-btn-group-btn {
  grid-column: 3/-1;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#hdr-bar {
  position: sticky;
  top: 0;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2rem;
}
#hdr-bar #company-identifier #logo-icon {
  font-size: 1.75rem;
}
#hdr-bar #company-identifier #company-name {
  font-size: 1.5rem;
}
#hdr-bar nav {
  margin-top: 0.35rem;
  margin-right: 2rem;
}
#hdr-bar nav menu {
  list-style-type: none;
}
#hdr-bar nav menu li {
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#hdr-bar nav menu li:not(:last-child) {
  margin-right: 1.2rem;
}
#hdr-bar nav menu li:hover {
  font-weight: bolder;
}

main {
  width: 100vw;
  height: 90vh;
}

#ftr-bar {
  background-color: lightgray;
  font-size: 1.15rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
}
#ftr-bar #site-info ul {
  list-style-type: none;
}
#ftr-bar #site-info ul li {
  display: inline;
  cursor: pointer;
}
#ftr-bar #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
#ftr-bar #copyright-info {
  font-size: 1rem;
}