*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#hdr-bar {
  position: sticky;
  top: 0;
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2rem;
}
#hdr-bar #company-identifier #logo-icon {
  font-size: 1.75rem;
}
#hdr-bar #company-identifier #company-name {
  font-size: 1.5rem;
}
#hdr-bar nav {
  margin-top: 0.35rem;
  margin-right: 2rem;
}
#hdr-bar nav menu {
  list-style-type: none;
}
#hdr-bar nav menu li {
  font-size: 1.2rem;
  display: inline;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#hdr-bar nav menu li:not(:last-child) {
  margin-right: 1.2rem;
}
#hdr-bar nav menu li:hover {
  font-weight: bolder;
}

main {
  background-color: grey;
  width: 100vw;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}
main .container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  align-content: center;
  gap: 1.1rem;
  padding: 2rem;
  width: 300px;
  height: 275px;
  background-color: lightgrey;
}
main .container h3 {
  text-align: center;
}
main .container .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  font-family: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 0.95rem 0;
  margin: 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
}

#ftr-bar {
  background-color: lightgray;
  font-size: 1.15rem;
  width: 100%;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0.75rem;
}
#ftr-bar #site-info ul {
  list-style-type: none;
}
#ftr-bar #site-info ul li {
  display: inline;
  cursor: pointer;
}
#ftr-bar #site-info ul li:not(:last-child) {
  margin-right: 1.2rem;
}
#ftr-bar #copyright-info {
  font-size: 1rem;
}